In [1]:
# Import bibliothèque 

import pandas as pd
import numpy as np 
import pylab
import pickle

# Bibliothèque Graphique

import matplotlib.pyplot as plt
import seaborn as sns

# Bibliothèque Apprentisage
from sklearn.model_selection import train_test_split,validation_curve,learning_curve,cross_val_score,GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn import linear_model
from sklearn.metrics import *
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn import datasets
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, adjusted_rand_score
from sklearn.metrics import roc_curve, auc, accuracy_score, confusion_matrix, ConfusionMatrixDisplay, precision_score, recall_score
from yellowbrick.cluster import KElbowVisualizer, SilhouetteVisualizer


# Bibliothèque Stastistique
import statsmodels
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.regression.linear_model as sml
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.compat import lzip
import statsmodels.stats.api as sms

from scipy.stats import shapiro
from scipy.stats import levene
from scipy import stats
import scipy.stats as st
from scipy.cluster.hierarchy import dendrogram, linkage , fcluster


import warnings

In [2]:
sns.set()

warnings.filterwarnings('ignore')

#  Modèle finale

In [3]:
# Chargement du Modèle 

with open('Régression_logistique', 'rb') as file:
    model_RegLog = pickle.load(file)

1 - Choix des variables du df à standardiser

2 - Standardisation

3 - Calcul prédiction grâce à la regression logistique model_reglog sur les dimensions : diagonal,height_left,height_right,margin_low,margin_up,length

4 - Mise en forme et création de deux nouvelles variabiles Prédiction et Probabilité

In [7]:
# Nous allons définir notre Fonction

def Prediction_Billet(Df):
    X=Df[['diagonal','height_left','height_right','margin_low','margin_up','length']] # création du dataframe
    scaler = StandardScaler()
    X_fit=scaler.fit_transform(X) # On entraîne et transforme nos données
    
    prediction_X= model_RegLog.predict(X_fit) # création de la variable de prediction
    probabilité_X= model_RegLog.predict_proba(X_fit)[:,1]*100 # création de la variable de probabilité
    
    Df['Prédiction']=prediction_X # ajout de la variable predict au dataframe
    Df['Prédiction']=Df['Prédiction'].replace([1,0],[True,False]) # On remet True et False en sortie
    
    Df['Probabilité']=probabilité_X # ajout de la variable proba au dataframe
   

    Df=Df.reindex(columns=['id','diagonal','height_left','height_right','margin_low','margin_up','length','Prédiction','Probabilité'])
    # On réindexe nos colonnes pour une meilleur lisibilité 
    return Df

In [8]:
# Chargement du set d'example
Billet_prod=pd.read_csv('billets_production.csv',sep=',',decimal='.')
Billet_prod

   diagonal  height_left  height_right  margin_low  margin_up  length   id
0    171.76       104.01        103.54        5.21       3.30  111.42  A_1
1    171.87       104.17        104.13        6.00       3.31  112.09  A_2
2    172.00       104.58        104.29        4.99       3.39  111.57  A_3
3    172.49       104.55        104.34        4.44       3.03  113.20  A_4
4    171.65       103.63        103.56        3.77       3.16  113.33  A_5

In [9]:
# résultat du set d'example

Prediction_Billet(Billet_prod)

,id,diagonal,height_left,height_right,margin_low,margin_up,length,Prédiction,Probabilité
0,A_1,171.76,104.01,103.54,5.21,3.30,111.42,False,6.498296
1,A_2,171.87,104.17,104.13,6.00,3.31,112.09,False,3.416651
2,A_3,172.00,104.58,104.29,4.99,3.39,111.57,False,3.550554
3,A_4,172.49,104.55,104.34,4.44,3.03,113.20,True,99.835040
4,A_5,171.65,103.63,103.56,3.77,3.16,113.33,True,99.985125

In [10]:
# Chargement du set de Test Finale

Billet_test=pd.read_csv('billets_test.csv',sep=',',decimal='.')
Billet_test

   diagonal  height_left  height_right  margin_low  margin_up  length   id
0    172.09       103.95        103.73        4.39       3.09  113.19  B_1
1    171.52       104.17        104.03        5.27       3.16  111.82  B_2
2    171.78       103.80        103.75        3.81       3.24  113.39  B_3
3    172.02       104.08        103.99        5.57       3.30  111.10  B_4
4    171.79       104.34        104.37        5.00       3.07  111.87  B_5

In [11]:
# Résultat Finale de prédiction

Prediction_Billet(Billet_test)

,id,diagonal,height_left,height_right,margin_low,margin_up,length,Prédiction,Probabilité
0,B_1,172.09,103.95,103.73,4.39,3.09,113.19,True,99.886118
1,B_2,171.52,104.17,104.03,5.27,3.16,111.82,False,15.300556
2,B_3,171.78,103.80,103.75,3.81,3.24,113.39,True,99.949725
3,B_4,172.02,104.08,103.99,5.57,3.30,111.10,False,0.174114
4,B_5,171.79,104.34,104.37,5.00,3.07,111.87,False,40.125296